// CHROMIA DARK
$chromia-dark:#1E191E;
// chromia Gray
$chromia-gray:#393939;
//RED
$chromia-red: #FF405E;
// RED DARK
$chromia-darkred:#d41a45;
// STEEL BLUE
$chromia-steelblue:#4d617d;
// STEELE BLUE DARK
$chromia-steelebluedark:#2f4968;
// ORANGE
$chromia-orange:#ff702b;
// ORANGE DARK
$chromia-orangedark:#EB4521;
// PURPLE
$chromia-purple:#CB92F0;
// PURPLE DARK
$chromia-purpledark:#9e5ecf;
// SOFT PINK
$chromia-pink:#FFAFC1;
// PINK DARK
$chromia-darkpink: #FF87A6;
// YELLOW
$chromia-yellow:#FFB600;
// YELLOW DARK
$chromia-yellowdark:#ff9100;
// OFF WHITE
$chromia-offwhite:#fff8f8;
// OFF WHITE DARK
$chromia-offwhitedark:#f5eeee;