@import 'variables.scss';
@import 'fonts.scss';
@import 'framework.scss';
// Header Style
header {
    // Header Language Bar
    .header-lang-bar {
        .lang-bar-content {
            max-width: 125px;
        }
    }
    // Navigation
    .navigation {
        nav {
            .navbar-nav {
                .nav-link {
                    i {
                        width: 30px;
                        height: 30px;
                        padding: 6px 6px;
                        font-size: 19px;
                        &:hover {
                            background: $chromia-logo-pink;
                            color: $chromia-offwhite;
                            transition: .2s;
                        }
                    }
                }
            }
        }
    }
}

// Banner Section
section.banner-section {
    height: calc(100vh - 113px);
    .banner-content {
        .banner-col {
            h1 {
                span {
                    font-size: 18px;
                }
            }
            p {
                margin: 41px 0 0;
                font-size: 20px;
            }
            .banner-email-btn {
                margin-top: 57px;
                max-width: 440px;
                p {
                    color: #7B7B7B;
                    margin-bottom: 16px;
                    font-size: 18px;
                }
                input {
                    height: 54px;
                    border: none;
                    outline: 0;
                    padding-left: 20px;
                    &::placeholder {
                        color: $chromia-offwhite;
                        font-size: 18px;
                    }
                    &:focus {
                        background: $chromia-gray;
                    }
                }
                a {
                    text-decoration: none;
                    height: 40px;
                    width: 100%;
                    max-width: 125px;
                    text-align: center;
                    padding-top: 7px;
                    font-weight: 500;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 15px;
                    left: unset;
                    margin: auto;
                    &:hover {
                        color: $chromia-offwhite;
                        transition: .2s;
                    }
                }
            }
        }
    }
}

// Commuity Section
section.community-sec {
    // padding-bottom: 62px;
    .community-col {
        img {
            max-width: 90px;
        }
        h4 {
            font-family: $NbBold;
            font-size: 22px;
        }
        p {
            font-family: $NbRegular;
            max-width: 320px;
        }
    }
}

// BlockChain Section
section.blockchain-sec {
    .blockchain-content {
        .blockchain-head {
            max-width: 580px;
            h2 {
                font-size: 59px;
                span {
                    font-size: 35px;
                }
            }
            p {
                font-size: 18px;
                line-height: 1.3;
            }
        }
        .blockchain-text {
            max-width: 470px;
            p {
                font-family: $NbBold;
                font-size: 26px;
            }
        }
        .blockhain-row {
            max-width: 1040px;
            padding-top: 100px;
            border-bottom: 1px solid rgba(255, 248, 248, 0.4);
            .blockchain-col-1 {
                border: 2px solid $chromia-pink;
                border-radius: 7px;
            }
            .blockchain-col-2 {
                border: 2px solid $chromia-purple;
                border-radius: 7px;
                .blockchain-col-content {
                    h5 {
                        margin: 23px 0 19px 0;
                    }
                    // ul {
                    //     list-style: none;
                    //     .li-1 {
                    //         &::before {
                    //             content: '1.';
                    //             font-family: $Battlefin;
                    //             color: #CB92F0;
                    //         }
                    //     }
                    //     .li-2 {
                    //         &::before {
                    //             content: '2.';
                    //             font-family: $Battlefin;
                    //             color: #CB92F0;
                    //         }
                    //     }
                    //     .li-3 {
                    //         &::before {
                    //             content: '3.';
                    //             font-family: $Battlefin;
                    //             color: #CB92F0;
                    //         }
                    //     }
                    // }
                    .blockchain-col-inner {
                        padding-right: 96px;
                    }
                    .custm-list-container {
                        .custm-list {
                            .list-num {
                                p {
                                    font-size: 26px;
                                }
                            }
                            .list-content {
                                width: 88%
                            }
                        }
                    }
                }
            }
            .blockchain-col {
                .blockchain-col-img {
                    position: absolute;
                    top: -9%;
                    right: 12%;
                    bottom: unset;
                    left: unset;
                    width: 100%;
                    max-width: 134px;
                }
                // .blockChain-col-img-1 {
                //     top: -9%;
                // }
                .blockchain-col-txt {
                    padding: 32px 20px 20px 30px;
                    h2 {
                        font-size: 38px;
                    }
                    h5 {
                        font-size: 21px;
                    }
                    p {
                        font-size: 15px;
                        line-height: 1.3;
                    }
                    p.blockchain-content-1 {
                        margin-bottom: 12px;
                    }
                    p.blockchain-content-3 {
                        margin: 12px 0 20px;
                    }
                    .power-content {
                        h5 {
                            margin-bottom: 6px;
                        }
                        p {
                            max-width: 430px;
                        }
                    }
                    .matter-of-fact {
                        h5 {
                            font-size: 20px !important;
                        }
                        .matter-of-fact-row {
                            // align-items: flex-end;
                            .matter-main-col {
                                width: 12%;
                                .matter-col {
                                    background: rgba(245, 238, 238, 0.4);
                                    // height: 100%;
                                }
                                p {
                                    color: #F5EEEE;
                                    opacity: 0.6;
                                }
                            }
                            .sql {
                                min-height: 96px;
                            }
                            .python {
                                min-height: 74px;
                            }
                            .java {
                                min-height: 73px;
                            }
                            .shell {
                                min-height: 65px;
                            }
                            .cc {
                                min-height: 60px;
                            }
                            .php {
                                min-height: 47px;
                            }
                            .cplus {
                                min-height: 45px;
                            }
                        }
                        p.among {
                            padding: 0 7px 10px 0;
                        }
                    }
                }
            }
            .blockchain-scndry-txt {
                width: 42%;
                margin: 58px auto 0;
                h5 {
                    font-size: 22px;
                }
                h2 {
                    font-size: 57px;
                    line-height: 1.0;
                }
                p {
                    margin-top: 12px;
                    line-height: 1.3;
                }
                a {
                    max-width: 200px;
                    padding: 9px 0;
                    font-size: 17px;
                    &:hover {
                        color: $chromia-offwhite;
                        transition: .2s;
                    }
                }
                .relational-border {
                    svg {
                        position: absolute;
                        left: -78%;
                        top: -111%;
                        // left: -340px;
                        // top: -309px;
                    }
                }
                .blockchain-border {
                    svg {
                        position: absolute;
                        // top: -280px;
                        // left: -11px;
                        top: -101%;
                        left: -2%;
                    }
                }
            }
        }
    }
}

// Plays with Ethereumy Section
.ethereumy-content {
    .ethereumy-head {
        h2 {
            span {
                font-size: 20px;
            }
        }
        &::before {
            content: url(images/eth-diamond-rainbow.png);
        }
    }
}