@import 'variables.scss';
@import 'fonts.scss';
@import 'framework.scss';
// Header Style
header {
    // Header Language Bar
    .header-lang-bar {
        .lang-bar-content {
            max-width: 125px;
        }
    }
    // Navigation
    .navigation {
        nav {
            .navbar-nav {
                .nav-link {
                    i {
                        width: 30px;
                        height: 30px;
                        padding: 6px 6px;
                        font-size: 19px;
                        &:hover {
                            background: $chromia-logo-pink;
                            color: $chromia-offwhite;
                            transition: .2s;
                        }
                    }
                }
            }
        }
    }
}

// Banner Section
section.banner-section {
    height: calc(100vh - 113px);
    .banner-content {
        .banner-col {
            h1 {
                span {
                    font-size: 18px;
                }
            }
            p {
                margin: 41px 0 0;
                font-size: 20px;
            }
            .banner-email-btn {
                margin-top: 57px;
                max-width: 440px;
                p {
                    color: #7B7B7B;
                    margin-bottom: 16px;
                    font-size: 18px;
                }
                input {
                    height: 54px;
                    border: none;
                    outline: 0;
                    padding-left: 20px;
                    &::placeholder {
                        color: $chromia-offwhite;
                        font-size: 18px;
                    }
                    &:focus {
                        background: $chromia-gray;
                    }
                }
                a {
                    text-decoration: none;
                    height: 40px;
                    width: 100%;
                    max-width: 125px;
                    text-align: center;
                    padding-top: 7px;
                    font-weight: 500;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 15px;
                    left: unset;
                    margin: auto;
                    &:hover {
                        color: $chromia-offwhite;
                        transition: .2s;
                    }
                }
            }
        }
    }
}

// services Section
section.services-sec {
    // padding-bottom: 62px;
    .services-col {
        img {
            max-width: 90px;
        }
        h4 {
            font-family: $NbBold;
            font-size: 22px;
        }
        p {
            font-family: $NbRegular;
            max-width: 320px;
        }
    }
}

// BlockChain Section
section.blockchain-sec {
    .blockchain-content {
        .blockchain-head {
            max-width: 580px;
            h2 {
                font-size: 59px;
                span {
                    font-size: 35px;
                }
            }
            p {
                font-size: 18px;
                line-height: 1.3;
            }
        }
        .blockchain-text {
            max-width: 470px;
            p {
                font-family: $NbBold;
                font-size: 26px;
            }
        }
        .blockhain-row {
            max-width: 1040px;
            padding-top: 100px;
            border-bottom: 1px solid rgba(255, 248, 248, 0.4);
            .blockchain-col-1 {
                border: 2px solid $chromia-pink;
                border-radius: 7px;
            }
            .blockchain-col-2 {
                border: 2px solid $chromia-purple;
                border-radius: 7px;
                .blockchain-col-content {
                    h5 {
                        margin: 23px 0 19px 0;
                    }
                    // ul {
                    //     list-style: none;
                    //     .li-1 {
                    //         &::before {
                    //             content: '1.';
                    //             font-family: $Battlefin;
                    //             color: #CB92F0;
                    //         }
                    //     }
                    //     .li-2 {
                    //         &::before {
                    //             content: '2.';
                    //             font-family: $Battlefin;
                    //             color: #CB92F0;
                    //         }
                    //     }
                    //     .li-3 {
                    //         &::before {
                    //             content: '3.';
                    //             font-family: $Battlefin;
                    //             color: #CB92F0;
                    //         }
                    //     }
                    // }
                    .blockchain-col-inner {
                        padding-right: 96px;
                    }
                    .custm-list-container {
                        .custm-list {
                            .list-num {
                                p {
                                    font-size: 26px;
                                }
                            }
                            .list-content {
                                width: 88%
                            }
                        }
                    }
                }
            }
            .blockchain-col {
                .blockchain-col-img {
                    position: absolute;
                    top: -9%;
                    right: 12%;
                    bottom: unset;
                    left: unset;
                    width: 100%;
                    max-width: 134px;
                }
                // .blockChain-col-img-1 {
                //     top: -9%;
                // }
                .blockchain-col-txt {
                    padding: 32px 20px 20px 30px;
                    h2 {
                        font-size: 38px;
                    }
                    h5 {
                        font-size: 21px;
                    }
                    p {
                        font-size: 15px;
                        line-height: 1.3;
                    }
                    p.blockchain-content-1 {
                        margin-bottom: 12px;
                    }
                    p.blockchain-content-3 {
                        margin: 12px 0 20px;
                    }
                    .power-content {
                        h5 {
                            margin-bottom: 6px;
                        }
                        p {
                            max-width: 430px;
                        }
                    }
                    .matter-of-fact {
                        h5 {
                            font-size: 20px !important;
                        }
                        .matter-of-fact-row {
                            // align-items: flex-end;
                            .matter-main-col {
                                width: 12%;
                                .matter-col {
                                    background: rgba(245, 238, 238, 0.4);
                                    // height: 100%;
                                }
                                p {
                                    color: #F5EEEE;
                                    opacity: 0.6;
                                }
                                p.pvalue-sql {
                                    color: $chromia-pink !important;
                                    opacity: 1 !important;
                                }
                                .sql {
                                    min-height: 96px;
                                    background: $chromia-pink;
                                    p {
                                        color: $chromia-dark !important;
                                        opacity: 1 !important;
                                    }
                                }
                            }
                            .python {
                                min-height: 74px;
                            }
                            .java {
                                min-height: 73px;
                            }
                            .shell {
                                min-height: 65px;
                            }
                            .cc {
                                min-height: 60px;
                            }
                            .php {
                                min-height: 47px;
                            }
                            .cplus {
                                min-height: 45px;
                            }
                        }
                        p.among {
                            padding: 0 7px 10px 0;
                        }
                    }
                }
            }
            .blockchain-scndry-txt {
                width: 42%;
                margin: 58px auto 0;
                h5 {
                    font-size: 22px;
                }
                h2 {
                    font-size: 57px;
                    line-height: 1.0;
                }
                p {
                    margin-top: 12px;
                    line-height: 1.3;
                }
                a {
                    max-width: 200px;
                    padding: 9px 0;
                    font-size: 17px;
                    &:hover {
                        color: $chromia-offwhite;
                        transition: .2s;
                    }
                }
                .relational-border {
                    svg {
                        position: absolute;
                        left: -78%;
                        top: -111%;
                        // left: -340px;
                        // top: -309px;
                    }
                }
                .blockchain-border {
                    svg {
                        position: absolute;
                        // top: -280px;
                        // left: -11px;
                        top: -101%;
                        left: -2%;
                    }
                }
            }
        }
    }
}

// Plays with Ethereumy Section
.ethereumy-content {
    .ethereumy-head {
        max-width: 535px;
        span {
            vertical-align: top;
            img {
                max-width: 64px;
                margin-right: 30px;
            }
        }
        h2 {
            span {
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }
    h3 {
        font-size: 27px;
    }
    .ethereumy-row {
        .ethereumy-col {
            img {
                max-width: 72px;
            }
            p {
                line-height: 1.3;
                padding-right: 30px;
            }
        }
    }
}

// Try Section
.tools-sec {
    .tools-content {
        .tools-head {
            max-width: 600px;
            h2 {
                font-size: 51px;
                span {
                    font-size: 30px;
                }
            }
        }
        .tools-sec-row {
            .tools-col {
                img {
                    max-width: 100px;
                }
                h4 {
                    font-size: 26px;
                }
                a {
                    max-width: 230px;
                    &:hover {
                        color: $chromia-dark;
                        transition: .2s;
                    }
                }
            }
            .tools-col-2 {
                border: 2px solid $chromia-gray;
                img {
                    max-width: 35px;
                    margin-right: 10px;
                }
                .inner-tools-col {
                    p {
                        margin-left: 52px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

// Public Power section
.public-power-sec {
    .public-power-col-1 {
        h3 {
            font-size: 32px;
        }
        p {
            font-size: 15px;
        }
    }
    .public-power-col-2 {
        background: url(../../images/img-elements.png) no-repeat;
        background-size: 123% 103%;
        background-position-x: 25px;
        .public-power-col-2-row {
            .founde-img {
                max-width: 220px;
            }
            .founder-tooltip {
                margin: 0 0 -55px 22px;
                position: relative;
                p {
                    padding: 10px 0 31px 18px;
                }
            }
            .founder-tooltip-1 {
                background: url(../../images/founder-1-tooltip.png) no-repeat;
                background-size: 100% 100%;
                max-width: 185px;
            }
            .founder-tooltip-2 {
                background: url(../../images/founder-2-tooltip.png) no-repeat;
                background-size: 100% 100%;
                max-width: 185px;
            }
            .founder-tooltip-3 {
                background: url(../../images/founder-3-tooltip.png) no-repeat;
                background-size: 100% 100%;
                max-width: 185px;
            }
            .founder-txt {
                position: absolute;
                top: unset;
                left: unset;
                right: -33%;
                bottom: 5%;
                width: fit-content;
                margin: 8px auto;
            }
            .founder-popup-container {
                width: 187%;
                position: absolute;
                top: 32px;
                bottom: 0;
                right: 0;
                left: 265px;
                margin: auto;
                z-index: 1;
                transition: .3s;
                display: none;
                .popup {
                    .popup-dialog {
                        &::before {
                            content: url(../../images/popup-shape.png);
                            position: absolute;
                            top: 65px;
                            left: -30px;
                        }
                        .popup-head {
                            border-top-left-radius: 7px;
                            border-top-right-radius: 7px;
                            button {
                                border: none;
                                outline: 0;
                                &:hover {
                                    color: $chromia-offwhite;
                                    opacity: 1 !important;
                                    text-decoration: none;
                                }
                            }
                        }
                        .popup-content {
                            border-bottom-left-radius: 7px;
                            border-bottom-right-radius: 7px;
                            p {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .founder-popup-container-2,
            .founder-popup-container-3 {
                left: -710px;
                .popup {
                    .popup-dialog {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .modal {
        .modal-dialog {
            max-width: 415px;
            height: fit-content;
            /* margin: auto; */
            top: 210px;
            bottom: 0;
            left: 294px;
            right: 0;
        }
    }
}

// Backers Section
.backers-sec {
    .backers-content {
        h3 {
            font-size: 34px;
        }
        .backers-row {
            .backer-col {
                min-height: 140px;
                border-radius: 8px;
                img {
                    max-width: 180px;
                }
            }
        }
    }
}

// Community Section
.community-sec {
    h3 {
        font-size: 34px;
    }
    .community-col {
        img {
            max-width: 140px;
        }
        p {
            max-width: 303px;
            line-height: 1.4;
        }
        .community-txt {
            .client-name {
                max-width: 315px;
                margin-left: auto;
                h6 {
                    font-size: 18px;
                    &::before {
                        content: '';
                        position: absolute;
                        background: $chromia-offwhite;
                        width: 35px;
                        height: 2px;
                        top: 0;
                        bottom: 0;
                        left: -14%;
                        right: unset;
                        margin: auto;
                    }
                }
            }
        }
    }
}

// Join Community Section
.join-community-sec {
    padding: 84px 0;
    .join-community-row {
        .join-community-col {
            h3 {
                font-size: 44px;
                color: #000;
            }
            .btn-friendly-2 {
                border: 1px solid $chromia-dark;
                &:hover {
                    color: $chromia-offwhite;
                }
            }
        }
    }
}

// Blog Section
.blog-sec {
    .blog-head {
        h3 {
            font-size: 34px;
        }
        a {
            &:hover {
                color: $chromia-yellow;
            }
        }
    }
    .blog-post-container {
        .blog-row {
            .blog-col {
                border: 1px solid #9A9A9A;
                // min-height: 256px;
                h5 {
                    font-size: 22px;
                }
            }
            .blog-col-2 {
                border-color: $chromia-red;
                p.up-event {
                    top: -15px;
                    z-index: 1;
                    padding: 3px 5px;
                }
            }
        }
    }
}

// Newsletter Section
.newsletter-sec {
    .newsletter-content {
        max-width: 580px;
        h2 {
            font-size: 50px;
        }
        input {
            height: 60px;
            border-color: $chromia-dark !important;
        }
        button {
            width: 100%;
            max-width: 200px;
            margin-left: -90px;
        }
    }
}

// Footer Section
footer {
    .footer-sec {
        .footer-row {
            border-bottom: 1px solid #4A4A4A;
            .footer-col {
                img {
                    max-width: 190px;
                }
                a {
                    i {
                        font-size: 25px;
                        color: $chromia-offwhite;
                    }
                }
                ul {
                    list-style: none;
                    li {
                        a {
                            margin-bottom: 3px;
                            &:hover {
                                color: $chromia-offwhite;
                            }
                        }
                        a.coin {
                            &::after {
                                content: '\2197';
                                margin-left: 6px;
                            }
                        }
                    }
                }
            }
        }
        .footer-bar {
            p {
                font-size: 14px;
            }
        }
    }
}