@import 'Fonts.scss';
// Chromia Colors
// CHROMIA DARK
$chromia-dark:#1E191E;
// CHROMIA DARK 2
$chromia-dark-2:#17111B;
// CHROMIA LIGHT DARK
$chromia-light-dark:rgba(255, 248, 248, 0.03);
// chromia Gray
$chromia-gray:#393939;
//RED
$chromia-red: #FF405E;
// RED DARK
$chromia-darkred:#d41a45;
// ORANGE
$chromia-orange:#FF6F2B;
// ORANGE DARK
$chromia-orangedark:#EB4521;
// PURPLE
$chromia-purple:#CB92F0;
// PURPLE DARK
$chromia-purpledark:#9e5ecf;
// SOFT PINK
$chromia-pink:#FFAFC1;
// PINK DARK
$chromia-darkpink: #FF87A6;
// YELLOW
$chromia-yellow:#FFB600;
// YELLOW DARK
$chromia-yellowdark:#ff9100;
// OFF WHITE
$chromia-offwhite:#fff8f8;
// OFF WHITE DARK
$chromia-offwhitedark:#f5eeee;
// Chromia Logo Pink
$chromia-logo-pink: #FFB0C2;
// Border oval
$borderoval: 30px;
// Fonts
$NbLight: 'NBInternational-Light';
$NbRegular: 'NBInternational-Regular';
$NbBold: 'NBInternational-Bold';
$Battlefin: 'Battlefin-Black';
// Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
// Fonts
$base_font_size: 16px;
$base_line_height: 26px;
$font-heading: 'Battlefin-Blk'; //DM Sans;
$font-main: 'NB International'; //DM Sans;
$font_heading_weight: 700;
$font_main_weight: 400;